// nextflow.config
google {
    project = 'ai-infra-jrt-2'
    region = 'us-central1' // or your preferred region
}

process {
    executor = 'google-batch'
    container = 'ubuntu:latest' // or your specific Docker image
    cpus = 1
    memory = '4GB'
}
docker {
    enabled = true
    // 'runOptions' passes flags directly to the 'docker run' command.
    // '--gpus all' is required for Docker to expose Nvidia GPUs to the container.
    runOptions = '--gpus all'
}

workDir = 'gs://mybucket_jrt/nextflow_work'